/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.video-js .vjs-title-bar {
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

/*
  Only show the title bar after playback has begun
  and only when paused or when the user is
  interacting with the player.
*/
.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar{
  display: flex;
}

google-cast-launcher.vjs-cast-button {
  --disconnected-color: white;
  --connected-color: white;
}

google-cast-launcher.vjs-cast-button:hover {
  --disconnected-color: white;
  --connected-color: white;
}
